<div class="landing">

 <div class="signup">
  <a href="<%= new_user_url%>">Sign Up Now</a>
 </div>

  <div class="signin">
    <a href="<%= new_session_url%>">or Sign In</a>
  </div>

  <div class="twitter">
    <a href="/auth/twitter">Sign in with Twitter</a>
  </div>


</div>
