<ul class="sidebar">
  <li>
    <a href="#/notes/new">New Note</a>
  </li>
  <li>
    <a href="#/notes">Notes</a>
  </li>
  <li>
    <a href="#/notebooks">Notebooks</a>
  </li>
</ul>

<div id="main"></div>

<script>$(Colornote.initialize);</script>
