<section class="login-window">
  <section class="login-box">

    <h2>Log In!</h2>

    <sectiion class="errors"></sectiion>

    <%= render 'shared/user_form', user: @user, type: :login %>
  </section>

</section>
