<h2>NOTEBOOKS</h2>



<ul>
  <% notebooks.forEach(function(notebook){ %>
    <li>
      <a class="notebook-clickable" href="#/notebooks/<%= notebook.escape("id")%>"><%= notebook.escape("title") %></a>
    </li>
  <% }) %>
</ul>
