<h2>NOTEBOOKS</h2>

<ul>
  <% notebooks.forEach(function(notebook){ %>
    <li class="notebooks-index">
      <a class="notebook-link" href="#/notebooks/<%= notebook.escape("id")%>"><%= notebook.escape("title") %></a>
      <i class="fa fa-trash trash-notebooks" data-id='<%= notebook.escape("id")%>'></i>
    </li>
  <% }) %>
</ul>
