<h2>CREATE NOTEBOOK</h2>



<form class="create-notebook">
  <section class="errors"></section>
  <br>
  <input class="input-title-notebook" type="text" name="title" placeholder="Title your notebook">
  <div class="buttons group">
    <button class="cancel">Cancel</button>
    <button class="create">Create Notebook</button>
  </div>
</form>
