<h2>CREATE NOTE</h2>

<form>
  <select name="notebook_id">
  <% notebooks.forEach(function(notebook){ %>
    <option value="<%= notebook.escape("id")%>"><%= notebook.escape("title")%></option>
  <% }) %>
  <input type="text" name="title">
  <br>
  <textarea name="body"></textarea>
  <button class="cancel-note">Cancel</button>
  <button class="done-note">Done</button>
</form>
