<h2>CREATE NOTE</h2>

<form class="create-note">
  <label>Select notebook:
  <select id="note-notebook-id" name="notebook_id">

  <% notebooks.forEach(function(notebook){ %>
    <% console.log("first: " + notebooks.first().escape("id")) %>
    <% if (notebook === notebooks.first()) { %>
      <option value='<%= notebooks.first().escape("id")%>' selected><%= notebooks.first().escape("title")%></option> %>
      <% } else { %>
     <option value='<%= notebook.escape("id")%>'><%= notebook.escape("title")%></option>
     <% } %>
  <% }) %>
</select>
</label>
  <label>Select color:
  <select name="color">
    <option value="">None</option>
    <option value="R">RED</option>
    <option value="B">BLUE</option>
    <option value="G">GREEN</option>
  </select>
</label>
  <br>
  <input id="note-title" type="text" name="title" placeholder="Title your note">
  <br>
  <textarea id="note-body" name="body" placeholder="Drag files here or just start typing..."></textarea>

  <input id="note-file" type="file" name="upload">

  <button class="cancel-note">Cancel</button>
  <button class="done-note">Done</button>
</form>
