<h2>CREATE NOTE</h2>

<form>
  <input type="text" name="title">
  <br>
  <textarea name="body"></textarea>
  <button class="cancel-note">Cancel</button>
  <button class="done-note">Done</button>
</form>
