<h2>CREATE NOTE</h2>

<form class="create-note">
  <label>Select notebook:
  <select id="note-notebook-id" name="notebook_id">

  <% notebooks.forEach(function(notebook){ %>

    <% if (notebook === notebooks.first()) { %>
      <option value='<%= notebooks.first().escape("id")%>' selected><%= notebooks.first().escape("title")%></option> %>
      <% } else { %>
     <option value='<%= notebook.escape("id")%>'><%= notebook.escape("title")%></option>
     <% } %>
  <% }) %>
</select>
</label>
  <label>Select color:
  <select id="note-color" name="color">
    <option value="None" selected>None</option>
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="Greeen">Green</option>
  </select>
</label>
  <br>
  <input  id="note-new-title" class="nnnote-title" type="text" name="title" placeholder="Title your note">
  <br>
  <textarea id="note-new-body" class="nnnote-body" name="body" placeholder="Start typing..."></textarea>
  <br>

  <input id="note-new-file" class="fffile" type="file" name="upload">

  <button class="cancel-note">Cancel</button>
  <button class="done-note">Done</button>
</form>
