/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /*Reset CSS*/
 html, h2, h1, body, div, ul, li, form, input, button, label, a,
 select, textarea, label {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 html {
   background: #fdff76;
   height: 100%;
   overflow: hidden;
 }

 body {

   height:100%;
   position: relative;
   overflow: hidden;
   font-family: sans-serif;
   color: grey;



 }

 .group:after {
   display: block;
   content: "";
   clear: both;
 }

 /*Login------------------*/
.login > label {
  color: grey;
  font-size: 20px;
}

.login > button {
  color: grey;
  font-size: 20px;
  width: 250px;
}

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("background0.jpg");
  background-size: 100%;
}

.signup {
  padding: 380px 0 0 0;
  width:100%;
  border-radius: 8px;
}

.signup > a {
  margin: 20px;
  padding: 30px 20px;
  font-size: 30px;
  background: #d03594;
  border-radius: 8px;
  text-align: center;
}

.signin {
  padding: 0px 0 0 0;
  width:270px;
  margin: 0 auto;
  border-radius: 20px;
}

.signin > a:hover,
.signup > a:hover,
.twitter > a:hover {
  background: #fdff76;
}

.signin > a {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background: white;
  color: #d03594;
  border-radius: 8px;
}

.twitter {
  padding: 0px 0 0 0;
  width:270px;
  margin: 0 auto;
  border-radius: 8px;
}

.twitter > a {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background: #07b0ca;
  color: white;
  border-radius: 8px;
}

/*Sidebar-----------------------------*/

 .sidebar {
   background: #4db0de;

   position: absolute;
   width: 70px;
   height: 100%;
   overflow: auto;

 }

 a {
   display: block;
   margin: 20px;
   color: white;
 }

 .logout {

   position: absolute;
   color: white;
   margin: 0px;
   display: inline;
   bottom: 80px;
   /*why body is not parent?*/
 }

 #main {
   position: absolute;
   left:70px;
   width: calc(100% - 70px);
   background: #fdff76;
   height: 100%;

 }

 /*Left side----------------------------*/

 .left {
   background: #fdff76;
   border-left: 2px solid darkgrey;
   border-right: 2px solid darkgrey;

   left:0px;
   top: 0;
   bottom: 0;
   width: 450px;
   height: 100%;
   overflow: auto;
   /*why it has to be absolute for scroling to work?*/
 }



 h2 {

   z-index: 1;
   background: #8bd3b2;
   color: white;
   font-size: 26px;
   font-weight: bold;
   padding: 18px;
   border-top: 2px solid #4db0de;
   border-bottom: 2px solid #4db0de;
 }

 #notes {
   top:100px;
   width: 100%;
   height: 100%;
 }

 .notebook-title {
   background: white
 }



 .note-clickable,
 .notebook-clickable {
   color: grey;
   padding: 20px;
   display: block;
   border-bottom: 1px solid darkgrey;
 }

 .note-clickable:hover {
   background: #8bd3b2;
   color: #4db0de;
   font-weight: bold;
 }

 .note-count {
   color: #4db0de;
   padding: 20px;
   display: block;
   border-bottom: 1px solid darkgrey;
 }


/*Right side--------------*/

 .right {
   top:0px;
   position: absolute;
   display:block;
   left: 450px;
   width: calc(100% - 450px);
   background: white;
   height: 100%;
   border-left: 2px solid darkgrey;
   overflow: auto;


 }

 form {
   padding:20px;
   width: calc(100% - 70px);
   height: 100%;
 }

 .files {
   z-index: 1;
   background: red;
   display: block;
   width: 100px;
 }

 #note-title {
   color: #4db0de;
   padding: 20px 0;

   font-size: 18px;
 }


 .note-body {
   display: block;
   color: grey;
   width: 100%;
   height: 100%;
   border: none;
   font-size: 16px;
   text-align: justify;

 }

 select {
   color: #cdcfd0;
 }

 label {
   color: #cdcfd0;
 }

.left.stretch {
   width: 100%;
 }



   input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }
  input[type="submit"] {
    display: inline;
    cursor: pointer;
  }

  /*Create notebook form---------------*/
  .create-notebook {
    padding: 100px 0 0 0;
    display: block;
    width: 100%;
    background: #fdff76;
    margin: 0 auto;
  }

  .create-notebook > input {
    background: white;
    display: block;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
  }

  .buttons {

    width: 350px;
    margin: 0 auto;

  }

  button {
    padding: 10px;
    background: #4db0de;
    width: 140px;
    border-radius: 5%;
  }

  .cancel {
    float: left;
  }

  .create {
    float: right
  }

  .landing > a {
    color: black;
  }

    /*Create note form---------------*/
    .create-note > input {
      background: white;
      display: block;
      width: 100%;
      font-size: 28px;
      text-align: left;
    }

    .create-note > textarea {
      background: white;
      display: block;
      width: 100%;
      font-size: 20px;
      text-align: left;
      margin: 0;
    }

    option {
      margin: 0 auto;
    }
