/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

 #search {
   background: #fdff76;
 }
 /*Reset CSS*/
 html, h2, h1, body, div, ul, li, form, input, button, label, a,
 select, textarea, label, section {
   margin: 0;
   padding: 0;
   border: 0;
   font: inherit;
   box-sizing: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   color: inherit;
   background: transparent;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
 }

 html {
   background: #fdff76;
   height: 100%;
   overflow: hidden;
 }

 body {

   height:100%;
   position: relative;
   overflow: hidden;
   font-family: sans-serif;
   color: grey;



 }

 .group:after {
   display: block;
   content: "";
   clear: both;
 }

 /*Login------------------*/
 form.login {
   padding: 30px;
   font-size: 25px;
 }

 form.login > input {
   padding: 20px;
 }

 form.login > button:hover {
   background: #80C229;
 }

.login > label {
  color: grey;
}

.login > button {
  color: grey;
  width: 250px;
  color: white;
}

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: image-url("seamless.jpg");

}

.frame2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: image-url("frame.png");
  background-size: 100% 100%;

}
//
// div.clips {
//   position: absolute;
//   height: 100%;
//   width: 100%;
// }

.clips {
  top: 6%;
  right: -300px;
  // right: calc(100% - 120%);
  position: absolute;
  height: 100%;
  width: auto;
}

.clips > img {
  height: 100%;
  width: auto;
}


// .clips > img {
//   top: 6%;
//   right: -300px;
//   // right: calc(100% - 120%);
//   position: absolute;
//   height: 100%;
//   width: auto;
// }






// img.frame {
//   width: 100%;
//   height: 100%;
//
// }

// img.frame {
//   width: 100%;
//   height: 100%;
//
// }

.signup {
  // top: 6%;
  // right: -300px;
  // right: calc(100% - 120%);
  top: 10%;
  right: 80px;
  position: absolute;
  height: 300px;
  width: 300px;
  background: red;

  // padding: 380px 0 0 0;
  // width:100%;
  // border-radius: 8px;
}

.signup > a {
  margin: 20px;
  padding: 30px 20px;
  font-size: 60px;
  color: black;
  border-radius: 8px;
  text-align: center;
  // font-family: 'Brush Script MT';
  font-family: papyrus;
  font-weight: bold;
}

img.signup {
  top: 6%;
  right: -300px;
  // right: calc(100% - 120%);
  position: absolute;
  height: 100%;
  width: auto;


}

.signup > a:hover + img.signup {
  display: block;

}


// li.notebooks-index:hover .trash-notebooks {
//   display: inline;
// }

.signin {
  padding: 0px 0 0 0;
  width:270px;
  margin: 0 auto;
  border-radius: 20px;
}

.signin > a:hover,

.twitter > a:hover {
  color: red;
}

.signin > a {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background: white;
  color: #d03594;
  border-radius: 8px;
}

.twitter {
  padding: 0px 0 0 0;
  width:270px;
  margin: 0 auto;
  border-radius: 8px;
}

.twitter > a {
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  background: #07b0ca;
  color: white;
  border-radius: 8px;
}

// .signin > a {
//   position: absolute;
//   // top: 120px;
//   bottom: 50px;
//   left: calc(50% - 135px);
//   text-align: center;
//   margin: 10px;
//   padding: 10px;
//   font-size: 20px;
//   background: white;
//   color: #d03594;
//   border-radius: 8px;
// }
//
// .twitter {
//   position: absolute;
//   // top: 120px;
//   bottom: 50px;
//   left: calc(50% - 135px);
//   padding: 0px 0 0 0;
//   width:270px;
//   margin: 0 auto;
//   border-radius: 8px;
// }
//
// .twitter > a {
//   text-align: center;
//   margin: 10px;
//   padding: 10px;
//   font-size: 20px;
//   background: #07b0ca;
//   color: white;
//   border-radius: 8px;
// }

/*Sidebar-----------------------------*/

 .sidebar {
   background: #4db0de;

   position: absolute;
   width: 70px;
   height: 100%;
   overflow: auto;

 }

 a {
   display: block;
   margin: 20px;
   color: white;
   font-size:30px;
 }

 #search {
   font-size: 30px;
   position: absolute;
   left:-50px;
   top: 250px;
   z-index: 1;
   background: transparent;
 }

 .logout {
   width: 30px;
   height: auto;
   font-size: 30px;

   position: absolute;
   color: white;
   margin: 0px;
   display: inline;
   bottom: 0px;
   /*why body is not parent?*/
 }

 #main {
   position: absolute;
   left:70px;
   width: calc(100% - 70px);
   background: #fdff76;
   height: 100%;

 }

 /*Left side----------------------------*/


 // Notebooks------------------------------------

 li.notebooks-index {
   border-top: 5px solid white;
   border-bottom: 5px solid white;
   background: white;
   padding: 10px;
   margin: 20px 30px;
   color: #4db0de;
 }

  a.notebook-link {
    font-size: 25px;
    color: #4db0de;
  }

  .trash-notebooks {
    position: absolute;
    left: 260px;
    z-index: 1;
    font-size: 25px;
    bottom: 40px;
    color: white;
    display: none;
  }

  .notebooks-index {
    position: relative;
  }

  li.notebooks-index:hover .trash-notebooks {
    display: inline;
  }

  li.notebooks-index:hover a.notebook-link {
    color: white;
  }

  li.notebooks-index:hover {
    color: white;
    background: #4db0de;
  }





  // Left-------------------------------------------------------



 .left {
   background: #fdff76;
   border-right: 2px solid darkgrey;
   left:0px;
   top: 0;
   bottom: 0;
   width: 450px;
   height: 100%;
   overflow: auto;
 }

 .trash-notes {
   left: 270px;
   top: 10px;
   color: white;
   position: absolute;
   font-size: 20px;
   color: black;
   display: none;


 }

 .note-clickable:hover .trash-notes {
   display: inline;
   position: absolute;
 }

 .search-form {
   background: red;
   padding: 10px;
   background: white;
 }

 input[type="text"].query {
   display: block;
   width: 100%;

 }

 .button_to > input {
   position: relative;
   left: 22px;
 }



 h2 {
   background: #80C229;
   color: white;
   font-size: 26px;
   font-weight: bold;
   padding: 18px;
   border-top: 2px solid #4db0de;
   border-bottom: 2px solid #4db0de;
 }

 h2.auto {
   color: #80C229;
   height: 30px;
 }

 #notes {
   top:100px;
   width: 100%;
   height: 100%;
 }

 .notebook-title {
   background: white
 }

 .notebook-clickable {
   position: relative;
   padding: 20px;
   color: grey;
   height: 43px;
   display: block;
   border-bottom: 1px solid darkgrey;
   overflow: hidden;
   border-top: 4px solid white;
   border-bottom: 4px solid white;
 }

 sectionnotebook-clickable {
   height: 91;
 }



 .note-clickable {
   color: grey;
   height: 83px;
   display: block;
   border-bottom: 1px solid darkgrey;
   overflow: hidden;
   border-top: 4px solid white;
   border-bottom: 4px solid white;
   position: relative;
 }

 .notebook-title{
   left: 20px;
   position: relative;
   top: -50px;
   background: transparent;
   color: black;
   font-weight: bold;
   display: inline;
 }

 .stretch-me {
   height: 100%;
 }



 .notes-clickable {
   height: 100%;
 }

 .note-clickable:last-child {
   border-bottom: 8px solid white;
 }


 .color {
   display: none;
   box-shadow: -5px -5px 5px 0px rgba(0,0,0,0.75);
   bottom: 243px;
   position: relative;
   height: 200px;
   left: 400px;
   transform: rotate(-44deg);
   overflow: hidden;

 }

 .color.Blue {
   background: #4db0de;
   display: block;

 }

 .color.Green {
   background: #80C229;
   display: block;
 }

 .color.Red {
   background: red;
   display: block;
 }

 .notes-index {
   height: 100%;
 }

 .note-title {
   font-weight: bold;
   color: gray;
   position: relative;
   top: 15%;
   left: 20px;
   color: black;
 }

 #note-file {

   padding: 20px 30px;

 }

 input {
   border: 1px solid white;
 }



 .note-clickable:hover {
   background: #8bd3b2;
   color: #4db0de;
   font-weight: bold;
 }

 .note-count {
   color: #4db0de;
   padding: 20px;
   display: block;
   border-bottom: 5px solid white;
 }


/*Right side--------------*/

  .note-show {
    width: 100%;
  }

 .right {
   top:0px;
   position: absolute;
   display:block;
   left: 450px;
   width: calc(100% - 450px);
   background: white;
   height: 100%;
   border-left: 2px solid darkgrey;
   overflow: auto;
 }

 .right > form {
   width: 100%;
 }

 img {
   width: 100%;
   height: auto;
 }

 // .right > textarea {
 //   height: 300px;
 // }

 .note-options {
   position: absolute;
   width: 500px;
   top:13px;
   left: -10px;

 }

 .note-options > form {
   padding:10px;
  //  width: calc(100% - 70px);
   font-weight: bold;
   font-size: 20px;
   width: 800px;
  //  height: 100%;
   color: white;
   text-transform: uppercase;
 }

 .note-options > form > label {
   padding: 20px;
 }

 .files > a {
   display: inline;
   padding: 3px;
   color:gray;
   font-size: 18px;
   background: #fdff76;
 }

 #note-title {
   color: #4db0de;
   padding: 30px 30px 20px 30px;
   width: 800px;

   font-size: 20px;
 }

 #note-show-form {
   height: 100%;
   width:100%;
 }


 #note-body {
   padding: 0 30px;
   display: block;
   color: grey;
   width: calc(100% - 40px);
   height: 100%;
   border: none;
   font-size: 16px;
   text-align: justify;

    left: 20px;
 }

 .note-body {
   position: relative;
   padding: 0 30px;
   display: block;
   color: grey;
   top: 35%;

   height: 100%;
   border: none;
   font-size: 16px;
   text-align: justify;

    left: -10px;
  }

  // position: relative;
  // top: 35%;
  // left: 20px;

 // select {
 //   color: #cdcfd0;
 // }

 // label {
 //   color: #cdcfd0;
 // }

.left.stretch {
   width: 100%;
 }



   input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="submit"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }
  input[type="submit"] {
    display: inline;
    cursor: pointer;
  }

  /*Create notebook form---------------*/
  .create-notebook {
    padding: 100px 0 0 0;
    display: block;
    width: 100%;
    background: #fdff76;
    margin: 0 auto;
  }


  .create-notebook > input {
    background: white;
    display: block;
    margin: 0 auto;
    font-size: 38px;
    text-align: center;
  }

  .buttons {
    font-size: 20px;
    text-align: center;
    color: white;
    width: 450px;
    margin: 0 auto;

  }

  button {
    padding: 10px;
    background: #4db0de;
    width: 200px;
    border-radius: 5%;
  }

  button:hover {
    background: #80C229;
  }

  .cancel {
    float: left;
  }

  .create {
    float: right
  }

  .landing > a {
    color: black;
  }

  .errors {
    margin: 0 auto;
    width: 400px;
    text-align: center;
    color: red;
  }


  // Notebook show-----------
  #notebook-show-title {


  }

    /*Create note form---------------*/
    .note-new {
      height: calc(100% - 330px);
    }

    form.create-note {
      padding: 30px;
      height: 100%;
    }

    #note-new-title {
      padding: 0 20px;
      width: calc(100% - 40px)
    }

    #note-new-body {
      height: 100%;
      padding: 20px;
      width: calc(100% - 40px)
    }

    #note-new-file {
      font-size: 16px;
      margin: 0 0 20px 0;
    }

    .create-note > label {
      padding: 0 30px 0 0;
    }

    .create-note > input {
      background: white;
      display: block;
      width: 100%;
      font-size: 28px;
      text-align: left;
    }

    .create-note > textarea {
      background: white;
      display: block;
      width: 100%;
      font-size: 20px;
      text-align: left;
      margin: 0;
    }

    option {
      margin: 0 auto;
    }

    .create-note > button {
      color: white;
      font-size: 15px;
      text-align: center;
      color: white;
      width: 200px;
      margin: 0 auto;

    }


// Login-window--------------------------------------------------

.login-window {
  background-image: image-url("seamless.jpg");
  // background-size: 100%;
}

.login-box {
  background: yellow;
  width: 500px;
  height: 500px;
}









//
// input,
// label,
// select,
// button,
// textarea
// {
// 	margin:0;
// 	border:0;
// 	padding:0;
// 	display:inline-block;
// 	vertical-align:middle;
// 	white-space:normal;
// 	background:none;
// 	line-height:1;
//
// 	/* Browsers have different default form fonts */
// 	font-size:13px;
// 	font-family:Arial;
// }
//
// /* Remove the stupid outer glow in Webkit */
// input:focus
// {
// 	outline:0;
// }
//
// /* Box Sizing Reset
// -----------------------------------------------*/
//
// /* All of our custom controls should be what we expect them to be */
// input,
// textarea
// {
// 	-webkit-box-sizing:content-box;
// 	-moz-box-sizing:content-box;
// 	box-sizing:content-box;
// }
//
// /* These elements are usually rendered a certain way by the browser */
// button,
// input[type=reset],
// input[type=button],
// input[type=submit],
// input[type=checkbox],
// input[type=radio],
// select
// {
// 	-webkit-box-sizing:border-box;
// 	-moz-box-sizing:border-box;
// 	box-sizing:border-box;
// }
//
// /* Text Inputs
// -----------------------------------------------*/
//
// input[type=date],
// input[type=datetime],
// input[type=datetime-local],
// input[type=email],
// input[type=month],
// input[type=number],
// input[type=password],
// input[type=range],
// input[type=search],
// input[type=tel],
// input[type=text],
// input[type=time],
// input[type=url],
// input[type=week]
// {
// }
//
// /* Button Controls
// -----------------------------------------------*/
//
// input[type=checkbox],
// input[type=radio]
// {
// 	width:13px;
// 	height:13px;
// }
//
// /* File Uploads
// -----------------------------------------------*/
//
// input[type=file]
// {
//
// }
//
// /* Search Input
// -----------------------------------------------*/
//
// /* Make webkit render the search input like a normal text field */
// input[type=search]
// {
// 	-webkit-appearance:textfield;
// 	-webkit-box-sizing:content-box;
// }
//
// /* Turn off the recent search for webkit. It adds about 15px padding on the left */
// ::-webkit-search-decoration
// {
// 	display:none;
// }
//
// /* Buttons
// -----------------------------------------------*/
//
// button,
// input[type="reset"],
// input[type="button"],
// input[type="submit"]
// {
// 	/* Fix IE7 display bug */
// 	overflow:visible;
// 	width:auto;
// }
//
// /* IE8 and FF freak out if this rule is within another selector */
// ::-webkit-file-upload-button
// {
// 	padding:0;
// 	border:0;
// 	background:none;
// }
//
// /* Textarea
// -----------------------------------------------*/
//
// textarea
// {
// 	/* Move the label to the top */
// 	vertical-align:top;
//
// 	/* Turn off scroll bars in IE unless needed */
// 	overflow:auto;
// }
//
// /* Selects
// -----------------------------------------------*/
//
// select
// {
//
// }
//
// select[multiple]
// {
// 	/* Move the label to the top */
// 	vertical-align:top;
// }
